.text-mute {
	opacity: 0.6;
}

.section {
	padding: 80px 0;
	text-align: center;
	font-family: $body-font-family;

	.card-container {
		--bs-gutter-x: 140px;

		@media (max-width: 768px) {
			--bs-gutter-x: 15px;
		}
	}

	.section-heading {
		font-size: 2rem;
		font-family: $heading-font-family;
	}

	.heading-separator {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $body-font-family;

		i {
			padding: 0 4px;
			font-size: 1.25rem;
			color: $black-primary;
		}

		&.inverted-separator {
			i {
				color: $white;
			}

			&::before,
			&::after {
				opacity: 0.7;
				background-color: $white;
			}
		}

		&::before,
		&::after {
			content: "";
			height: 2px;
			width: 30px;
			opacity: 0.3;
			display: inline-flex;
			background-color: $black-secondary;
		}
	}

	.section-sub-heading {
		max-width: 570px;
		margin: 8px auto 16px;
		color: $black-secondary;
	}
}

.sub-title-list {
	display: flex;
	align-items: center;
	margin: 10px 0 40px 0;
	justify-content: center;

	.sub-title {
		padding: 0 14px;
		font-weight: 400;
		position: relative;

		&::after {
			top: 50%;
			width: 8px;
			content: "";
			height: 8px;
			margin-left: 10px;
			border-radius: 50%;
			position: absolute;
			transform: translateY(-50%);
			background-color: $white-secondary;
		}

		&:last-child::after {
			all: unset;
		}
	}
}
