@import "../../styles/custom.scss";

.skills-section {
	background-color: $white-primary;
}

.skill-card {
	height: 162px;
	padding: 24px;
	display: flex;
	margin-top: 24px;
	border-radius: 4px;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	border: 1px dotted rgba(0, 0, 0, 0.1);
}

.skill-title {
	margin-top: 8px;
	font-weight: 700;
}

.skill-icon {
	height: 48px;
	width: 48px;
}
