@import "../../styles/custom.scss";
.description-container {
	max-width: 850px;
	margin-top: 3rem;
	margin: 48px auto 0;

	h3 {
		font-family: $heading-font-family;

		span {
			font-weight: 600;
		}
	}
}
.description-text {
	opacity: 0.6;
	margin: 16px 0;
}
