@import "../../styles/custom.scss";

.home-container {
	color: $white;
	height: 100vh;
	display: flex;
	position: relative;
	align-items: center;
	background-size: contain;
	background-position: center;
	font-family: $body-font-family;
	background-image: url("./bg.webp");
	clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);

	@media (max-width: 768px) {
		height: auto;
		clip-path: none;
		padding: 170px 0 130px !important;
		background-size: cover;
	}
}

.bg-shadow {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);

	@media (max-width: 768px) {
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.main-content {
	z-index: 1040;
}

.heading-text {
	font-size: 4.5rem;
	font-family: $heading-font-family;

	@media (max-width: 768px) {
		font-size: 2.5rem;
	}
}

.sub-heading {
	@media (max-width: 768px) {
		font-size: 0.875rem;
		margin-top: 20px;
	}
}

.buttonContainer {
	display: flex;
	justify-content: center;
}
