@import "../../styles/custom.scss";

.hobbies-container {
	background-color: $black-secondary;
}

.hobby-card {
	display: flex;
	color: $white;
	padding: 30px 0;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: transparent;

	img {
		height: 48px;
		margin-bottom: 10px;
	}
}

.row{
	display: flex;
	align-items: center;
	justify-content: space-around;
}