@import "../../styles/custom.scss";
.custom-nav {
	padding: 12px 0;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
}
.brand-title {
	color: var(--color-nav-link);
	font-family: $heading-font-family;
}
.link {
	position: relative;
	margin: 0 7px;
	font-family: $body-font-family;
}
.link::after:hover {
	opacity: 1;
}
.link::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 10%;
	height: 6px;
	width: 6px;
	background: var(--color-nav-link);
	border-radius: 50%;
	opacity: 0;
	transform: translateX(-50%);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.toggle-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-color {
	font-size: 1.5rem;
	color: var(--color-nav-link);
}
